<!-- About Section -->
    <section id="about">
        <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-primary">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>Hi, I'm Randy! I'm a Firmware and Hardware developer, with a background in Web development. I'm located near Toronto, Ontario.</p>
                    <p>I've worked on a number of projects, using a wide variety of technologies. Most of my recent work has involved microcontrollers - ARM, AVR, and PIC, mostly. I've worked up and down the stack, from schematic capture and PCB layout, up through prototype assembly, firmware development, and interfacing with PC software, both for control and test.</p>
                    <p>Here are just some of the technologies I'm experienced with:</p>
                        <ul>
                            <li><b>Bluetooth Low Energy</b>, for smartphone interfacing</li>
                            <li><b>Serial communications buses</b>, such as SPI, I2C, UART, and CAN</li>
                            <li><b>C</b> for firmware development, mostly using GCC and its toolchain.</li>
                            <li><b>Python</b>, for host software and test scripts.</li>
                            <li><b>PHP</b>, for web development</li>
                            <li><b>Linux</b>, both on server-side, and in embedded systems.</li>
                            <li><b>Test equipment</b>, such as oscilloscopes and logic analyzers, in addition to more basic DMMs and what have you.</li>
                            <li><b>Soldering equipment</b>, both reflow and standard iron-and-wire soldering. I do down to 0603 for fun.</li>
                        </ul>
                    </p>
                    <p>Check out my <a href="https://www.linkedin.com/in/rglenn/">LinkedIn page</a> for more information, or browse the projects in my portfolio below</p>
                </div>
            </div>
        </div>
    </section>